.collection {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 1rem;
  }
  .items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}